<main class="container container-fluid mt-5">
    <section id="post-details">
        <div id="post-title" class="display-flex justify-space-between align-center">
            <h2 id="title-text" data-id={{post.id}}>{{post.title}}</h2>
            <p id="posted-by">Posted by {{post.user.name}} on {{format_date post.createdAt}}</p>
        </div>
        <div id="post-content">
            <p id="content-text">{{post.content}}</p>
        </div>
    </section>

    <section class="comment-items">
        <div id="post-title">
            <h2 id="title-text">Comments</h2>
        </div>
        {{#if post.commentCount}}
            {{#each post.comments as |comment|}}
                <div class="comment-content">
                    <p id="comment-text">{{comment_text}}</p>
                    <p id="comment-text">- {{user.name}}, {{format_date createdAt}}</p>
                </div>
            {{/each}}
        {{else}}
            <p id="comment-text">No comments for this post.</p>
        {{/if}}
    </section>

    {{#if logged_in}}
        <div class="row comment-section">
            <div class="col-md-12">
            <div id="post-title">
                <h2 id="title-text">Add Comment</h2>
            </div>

            <form class="form comment-form" id="post-content">
                <div class="form-group">
                    <label for="comment" class="form-label" >Comment</label>
                    <textarea class="form-input" type="text" id="comment" placeholder="Add comments here..."></textarea>
                </div>
                <div class="form-group">
                <button class="btn" type="submit" id="submit-btn" >Submit</button>
                </div>
            </form>
            </div>
        </div>
    {{else}}
        <span id="submit-btn"></span>
    {{/if}}
</main>

<script src="/js/postitem.js"></script>